services:
  api:
    container_name: api-eterna
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    networks:
      - backend



networks:
  backend:
    driver: bridge