name: ci/cd api externa

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout codigo
        uses: actions/checkout@v4

      - name: Login docker hub
        uses: docker/login-action@v3
        with:
          username: ${{  secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ryanmosc/apiexterna:latest
            ryanmosc/apiexterna:${{ github.sha }}

      - name: deploy on vps
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /opt/apiexterna
            docker compose down -v
            docker compose pull
            docker compose up -d
